<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio de Arturo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" />

</head>

<body>
    <div class="container">

        <header>
            <nav>
                <div class="language-switcher">
                    <img src="../../assets/espana.png" alt="Español" id="lang-es" class="lang-flag" title="Español"
                        data-lang="es">
                    <img src="../../assets/reino-unido.png" alt="English" id="lang-en" class="lang-flag" title="English"
                        data-lang="en">
                </div>
                <ul>
                    <li><a class="aboutMe" href="#about">Sobre mí</a></li>
                    <li><a class="projectsTitleA" href="#projects">Proyectos</a></li>
                    <li><a class="skillsTitleA" href="#skills">Habilidades</a></li>
                    <li><a href="#educacion">Educación</a></li>
                </ul>
            </nav>
        </header>

        <section id="hero">
            <img src="https://avatars.githubusercontent.com/u/53167443?v=4" alt="Arturo" class="profile-image">
            <h1>Hola, soy Arturo</h1>
            <p>Desarrollador Full Stack</p>
        </section>

        <section id="about">
            <h2>Sobre mí</h2>
            <p>Tambien conocido como ArturoTF o xNanoEL6x en el entorno de los videojuegos.<br>
                Soy un apasionado por la tecnología, mi viaje educacional me ha llevado a explorar
                el emocionante mundo de la programación, las bases de datos y la ciberseguridad. Como entusiasta de la
                informática, disfruto de la resolución de problemas complejos y de encontrar soluciones creativas para
                proteger la información vital.<br>

                Mi amor por la precisión y la estrategia también se extiende a mi tiempo libre, donde me sumerjo en el
                emocionante universo de Counter-Strike(CS2). Este juego no solo me permite
                desarrollar habilidades de trabajo en equipo y toma de decisiones bajo presión, sino que también refleja
                mi compromiso con la mejora continua y la excelencia.<br>

                Estoy en constante búsqueda de desafíos que me permitan expandir mis conocimientos en tecnología,
                así como contribuir de manera significativa a la protección de datos y sistemas en un mundo
                cada vez más digitalizado. Mi objetivo es mantenerme actualizado con las últimas tendencias en
                tecnología y utilizar mi pasión por la programación y las bases de datos para enfrentar los desafíos
                tecnológicos actuales y futuros.</p>
        </section>
        <div data-aos="fade-in">
            <section id="projects">
                <h2>Proyectos</h2>
                <div class="project">
                    <img src="../../assets/NexusBot.webp" alt="Nexus Bot Discord Bot">
                    <div class="project-info">
                        <h3>NEXUS BOT</h3>
                        <p>Bot de Python</p>
                        <a href="/wikiNexus" target="_blank" class="project-link">Wiki del Proyecto</a><br>
                        <a href="https://discord.com/oauth2/authorize?client_id=1135904897238302720&permissions=8&scope=bot+applications.commands" target="_blank" class="project-link">Invitar Bot</a>
                        <br>
                        <a href="https://github.com/ArturoTF/Discord-Bot" target="_blank"
                            class="project-link">Ver
                            Proyecto</a>
                    </div>
                </div>
                <br>
                
                <!-- Aqui mas proyectos -->
            </section>
        </div>
        <section id="skills" data-aos="fade-in">
            <h2>Habilidades</h2>
            <div class="skill-row">
                <div class="skill">
                    <label for="rdbms">Frontend</label>
                    <div class="progress-container" data-aos="fade-right" data-aos-delay="50" data-aos-anchor="#skills">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                    <span class="progress-label">Advanced/Expert</span>
                </div>
                <div class="skill">
                    <label for="web-development">Back-end</label>
                    <div class="progress-container" data-aos="fade-right" data-aos-delay="100" data-aos-anchor="#skills">
                        <div class="progress-bar" style="width: 65%;"></div>
                    </div>
                    <span class="progress-label">Medium/Advanced</span>
                </div>
            </div>
            <div class="skill-row">
                <div class="skill">
                    <label for="python">Database</label>
                    <div class="progress-container" data-aos="fade-right" data-aos-delay="150" data-aos-anchor="#skills">
                        <div class="progress-bar" style="width: 65%;"></div>
                    </div>
                    <span class="progress-label">Advanced</span>
                </div>
                <div class="skill">
                    <label for="java">Devops</label>
                    <div class="progress-container" data-aos="fade-right" data-aos-delay="200" data-aos-anchor="#skills">
                        <div class="progress-bar" style="width: 50%;"></div>
                    </div>
                    <span class="progress-label">Medium</span>
                </div>
            </div>
            <div class="skill-row">
                <div class="skill">
                    <label for="cybersecurity">Security</label>
                    <div class="progress-container" data-aos="fade-right" data-aos-delay="250" data-aos-anchor="#skills">
                        <div class="progress-bar" style="width: 55%;"></div>
                    </div>
                    <span class="progress-label">Medium</span>
                </div>
                <div class="skill">
                    <label for="teamwork">Team work</label>
                    <div class="progress-container" data-aos="fade-right" data-aos-delay="300" data-aos-anchor="#skills">
                        <div class="progress-bar" style="width: 95%;"></div>
                    </div>
                    <span class="progress-label">Expert</span>
                </div>
            </div>
            <!-- Más habilidades aquí -->
        </section>
        


        <div data-aos="fade-in">
            <section id="educacion">
                <h2 style="text-align: left; margin-left: 5px;">Educación</h2>


                <div class="education-container">

                    <div class="education-item" id="DAM">
                        <a href="https://fesac.es/" target="_blank" style="text-decoration: none;">
                            <h3>FESAC COLEGIO SAN JOSE SS.CC</h3>
                        </a>
                        <div class="text-muted text-small mb-3">Sep, 2022 - Present</div>
                        <p>Grado Superior Desarrollo de Aplicaciones Multiplataforma</p>
                    </div>

                    <div class="education-item" id="DDBBADMIN">
                        <a href="https://www.corenetworks.es/" target="_blank" style="text-decoration: none;">
                            <h3>Core Network</h3>
                        </a>
                        <div class="text-muted text-small mb-3">Aug 2023- Sep 2023</div>
                        <p>Administrador de Bases de Datos Oracle</p>

                    </div>
                    <div class="education-item" id="EUSAJAVA">
                        <a href="https://www.eusa.es/" target="_blank" style="text-decoration: none;">
                            <h3>Centro FP Superior de la Cámara de Comercio de Sevilla</h3>
                        </a>
                        <div class="text-muted text-small mb-3">Jun 2019- Sep 2019</div>
                        <p>Curso de Desarrollo Web con Java</p>
                    </div>
                    <div class="education-item" id="BACHILLER">
                        <a href="https://twitter.com/ies_murillo" target="_blank" style="text-decoration: none;">
                            <h3>IES MURILLO</h3>
                        </a>
                        <div class="text-muted text-small mb-3">Jun 2019- Sep 2019</div>
                        <p>Bachiller de Ciencias</p>
                    </div>
                    <!-- más educación aquí -->
                </div>
            </section>
        </div>
        <div data-aos="fade-in">
            <footer>
                <div class="footer-name">Arturo Troyano Freire</div>
                <div class="social-links">
                    <!-- Asegúrate de añadir los enlaces a tus redes sociales -->
                    <a href="https://www.linkedin.com/in/arturotroyano/" target="_blank" aria-label="LinkedIn"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/ArturoTF" target="_blank" aria-label="GitHub"><i
                            class="fab fa-github"></i></a>
                    <a href="mailto:arturotroyano@gmail.com" aria-label="Google"><i class="fab fa-google"></i></a>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    </div>
</body>