/* Reset básico y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 90%; /* Esto limitará el ancho de tu contenido y lo centrará */
    max-width: 1200px; /* Puedes ajustar este valor */
    margin: auto; /* Esto centrará el contenedor */
    padding: 20px; /* Esto añadirá espacio dentro del contenedor */
}

section {
    margin: 40px 0; /* Esto añade un margen vertical a cada sección */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    padding-bottom: 60px; /* Espacio para el footer */
}

/* Header y Navegación */
header {
    background: #333;
    color: #fff;
    padding: 0 20px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
    display: flex; /* Asegúrate de que el header sea un contenedor flex */
    align-items: center; /* Centra los elementos verticalmente */
}

nav {
    flex-grow: 1; /* Permite que el elemento nav crezca para ocupar el espacio disponible */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Aplica flexbox a los elementos de la lista */
    justify-content: center; /* Centra los elementos de la lista */
    align-items: right; /* Alinea verticalmente */
}

nav ul li {
    padding: 20px 15px; /* Espacio alrededor de los elementos de la lista */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.language-switcher {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.lang-flag {
    cursor: pointer;
    width: 25px; /* o el tamaño que prefieras */
    height: auto;
    margin-left: 10px; /* Ajusta el margen izquierdo si es necesario */
}

.lang-flag.active {
    outline: 2px solid #fff; /* resalta la bandera activa */
}

/* Estilos adicionales para el selector */
#languageSelector {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

nav ul li {
    display: inline;
    margin: 0 5px;
}

/* Estilos para la sección Hero */
#hero {
    text-align: center;
    background-color: #0779e4;
    color: #fff;
    padding: 20px;
    position: relative;
}

/* Estilo para la imagen de perfil */
.profile-image {
    width: 150px; /* O el tamaño que prefieras */
    height: 150px; /* Mantén el mismo valor que el ancho para que sea un círculo */
    border-radius: 50%; /* Esto hará que la imagen sea redonda */
    border: 4px solid #fff; /* Borde blanco para que se destaque sobre el fondo azul */
    margin-top: 20px; /* Espacio arriba de la imagen */
    object-fit: cover; /* Esto asegurará que la imagen cubra todo el espacio asignado */
}

/* Sobre mí */
#about {
    text-align: center;
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Proyectos */
#projects .project {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: left;
}

.project img {
    width: 100px;
    margin: 10px;
}

.project-info {

    margin: 10px;
}

/* Habilidades */
#skills {
    background: #fff;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.skill {
    width: 48%; /* Ajustar según el diseño */
}

.skill label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9em; /* Ajusta el tamaño del texto de la etiqueta */
}

.progress-container {
    background-color: #eee;
    border-radius: 20px;
    position: relative;
    height: 20px; /* Altura de la barra de progreso */
    overflow: hidden;
}

.progress-bar {
    background-color: #007bff;
    height: 100%;
    width: 0; /* Inicialmente el ancho es 0 */
    border-radius: 20px;
    transition: width 2s ease; /* Transición suave para la animación de la barra */
    position: relative; /* Para posicionar la etiqueta absolutamente dentro de esta */
}

.progress-label {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); /* Centra el texto */
    line-height: 20px; /* Debe coincidir con la altura de .progress-bar */
    font-size: 0.75em; /* Tamaño de la fuente del texto sobre la barra de progreso */
    color: #fff;
    pointer-events: none; /* Asegura que el texto no interfiera con eventos del mouse */
}

/* Animación de la barra de habilidades */
@keyframes fillBar {
    from { width: 0; }
    to { width: 100%; }
}

.skill-fill {
    background-color: #007bff; /* Color de la barra de habilidades */
    height: 100%; /* Asegúrate de que la altura sea la misma que la del contenedor de la barra */
    /* La animación se manejará con JavaScript cuando el elemento esté en el viewport */
}



#education {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Esto añade un espacio entre los elementos */
    justify-content: space-around; /* Esto distribuye el espacio alrededor de los elementos */

}

.education-item {
    flex-basis: calc(50% - 20px); /* Esto establece el ancho de cada elemento teniendo en cuenta el espacio de separación (gap) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: Añade una sombra para cada elemento */
    margin-bottom: 20px; /* Esto añade un margen en la parte inferior */
    background: #fff; /* Esto establece el fondo blanco para los elementos */
    padding: 15px; /* Esto añade espacio dentro de los elementos */
}

.education-item h3 {
    margin-bottom: 5px;
    color: #0779e4;
}

.education-item p {
    margin-bottom: 10px;
    line-height: 1.4;
}

.text-muted {
    color: #757575!important
}


footer {

    color: #333; /* Esto es para el texto blanco */
    text-align: center; /* Esto centra el texto y los iconos de redes sociales */
    padding: 10px 0; /* Espacio arriba y abajo dentro del footer */
    font-family: Arial, sans-serif; /* O la fuente que prefieras */
    font-weight: bold;
}

.footer-name {
    margin-bottom: 10px; /* Espacio entre el nombre y los iconos de redes sociales */
}

.footer-content {
    width: 100%;
    max-width: 1200px; /* Ancho máximo para el contenido del footer */
    margin: auto; /* Centrar el contenido del footer */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    color: #333; /* Color de los iconos */
    margin: 0 5px; /* Espacio horizontal entre los iconos */
    font-size: 24px; /* Tamaño de los iconos */
    transition: color 0.3s; /* Transición suave para el hover */
}

.social-links a:hover {
    color: #e7e7e7; /* Cambia el color al pasar el mouse */
}

/* Asegúrate de incluir el font awesome CDN o la librería correspondiente para los íconos */


/* Responsive Design */
@media (max-width: 768px) {
    header nav ul, nav ul li {
        text-align: center;
        width: 100%;
    }
    .education-item {
        flex-basis: 100%; /* Cada elemento toma el ancho completo en pantallas pequeñas */
    }
    .container {
        width: 95%;
        padding: 10px;
    }

    #projects .project {
        flex-direction: column;
    }
    section {
        margin: 20px 0;
    }
}
