<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki de Nexus Bot</title>
</head>
<body>
    <header>
        <h1>Wiki de Nexus Bot</h1>
    </header>
    <section id="introduccion">
        <h2>Introducción</h2>
        <p>Para usar Nexus Bot, necesitas tener Discord instalado (<a href="https://discord.com/download">descargar aqui</a>), tener una cuenta y crear un servidor o tener permisos de administrador en uno. Luego, puedes invitar al bot desde nuestra página web en el apartado de invitar bot y ya podrás usarlo.</p>
        <br>
         <p style="font-weight: bold;">crear un servidor:</p><p>Inicia la aplicación Discord<br>
            Accede a tu cuenta de Discord<br>
            Haz clic en el símbolo “+” de la izquierda<br>
            Selecciona la opción “Crear servidor”<br>
            Establece el nombre de tu nuevo server de Discord<br>
            Haz clic en “Crear”.<br></p>
    </section>
    <section id="comandos">
        <h2>Comandos de Nexus Bot</h2>
        <p>Con el comando <code>/help</code> puedes ver todo lo que puedes hacer, aunque abajo te mostraremos una guía.</p>
        <ul>
            <li><code>/setLenguaje</code> - Te da la posibilidad de guardar tu idioma principal.</li>
            <li><code>/languages</code> - Muestra todos los idiomas disponibles.</li>
            <li><code>/ceo</code> - Muestra el CEO del proyecto.</li>
            <li><code>/version</code> - Muestra la versión del proyecto.</li>
            <li>
                <code>/translate [?idioma]</code> - Al responder un mensaje con este comando, si pones <code>/translate</code> traducirá al lenguaje que tengas en <code>/setLenguaje</code> (por defecto, inglés). Si pones <code>/translate [unIdioma]</code> este traducirá al idioma indicado. El comando slash te dará una lista de idiomas que podrás introducir, aunque con el comando <code>/languages</code> puedes verlos también.
            </li>
            <li>El bot puede traducir con emoticonos de bandera reaccionando a un mensaje.</li>
            <li>El bot, en caso de detectar un error, lo notifica en desarrollo (BD).</li>
            <li>
                Integración de un comando <code>/weather [ciudad]</code>: Permitirá ver la meteorología de una ciudad (temperatura, humedad, velocidad del viento y tiempo). Para ver ciudades disponibles, usa <code>/cities</code>.
            </li>
            <li>Integración de un comando <code>/news</code>: Permitirá ver las últimas noticias de la BBC.</li>
            <li>Integración de un comando <code>/facts</code>: Permitirá ver datos curiosos.</li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2024 Nexus Bot. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

